target/classes/file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="fileFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/file" doc:name="HTTP"/>
        <logger message="data : #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="F:\Mule\Inbound" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="fileFlow1">
        <file:inbound-endpoint path="F:\Mule\Inbound" moveToPattern="#[message.inboundProperties.originalFilename].backup" moveToDirectory="F:\Mule\Inbound\backup" connector-ref="File" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="^[a-zA-Z]*.txt$" caseSensitive="false"/>
        </file:inbound-endpoint>
        <logger message="file moved" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="F:\Mule\outbound" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
